<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XeroDataDump.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="BaseUrl" value="https://api.xero.com/api.xro/2.0/"/>
		<add key="ConsumerKey" value="KEYHERE"/>
		<add key="ConsumerSecret" value="SECRETHERE"/>
		<add key="CallbackUrl" value="localhost"/>
		<add key="SigningCertificate" value="cert\key.pfx"/>
		<add key="SigningCertificatePassword" value=""/>
	</appSettings>
 <userSettings>
  <XeroDataDump.Options>
      <setting name="OrganisationName" serializeAs="String">
          <value>Change Me</value>
      </setting>
      <setting name="Month" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Year" serializeAs="String">
          <value>2015</value>
      </setting>
      <setting name="CertFile" serializeAs="String">
          <value />
      </setting>
      <setting name="CertPassword" serializeAs="String">
          <value />
      </setting>
      <setting name="CallbackUrl" serializeAs="String">
          <value>localhost</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
          <value>https://api.xero.com/api.xro/2.0/</value>
      </setting>
      <setting name="ConsumerKey" serializeAs="String">
          <value />
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
          <value />
      </setting>
      <setting name="CostBudgetFile" serializeAs="String">
          <value />
      </setting>
      <setting name="TimeBudgetFile" serializeAs="String">
          <value />
      </setting>
      <setting name="OutputDir" serializeAs="String">
          <value />
      </setting>
      <setting name="CostBudgetRow" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="CostBudgetACCol" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="CostBudgetYearCol" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="TimeBudgetDateRow" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="TimeBudgetPosCol" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="TimeBudgetYearCol" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="IncAccts" serializeAs="String">
          <value />
      </setting>
  </XeroDataDump.Options>
 </userSettings>
</configuration>